<div class="panel-group" id="commit_filter_accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
<% index = 0 %>
<% @filter.commits_by_file.each do |category, setting| %>
    <div class="panel-heading" role="tab" id="heading<%= index + 1 %>">
      <h4 class="panel-title">
        <a 
          data-toggle="collapse" data-parent="#commit_filter_accordion" 
          href="#commit_category_<%= category %>" aria-expanded="true" 
          aria-controls="commit_category_<%= category %>"
        >
          <%= category %> (<%= setting[:files].keys.length %> <%= t('commit_filter.general.files') %>)
        </a>
      </h4>
    </div>
    
    <div 
      id="commit_category_<%= category %>" class="panel-collapse collapse<% if index == 0 %> in<% end %>" 
      role="tabpanel" aria-labelledby="heading<%= index + 1 %>"
    >
      <div class="panel-body" style="padding:15px 15px 0px 15px;">
        <%= render partial: "#{framework_views_path}/commit/filters/files", locals: { commits_by_file: setting[:files], paths: setting[:paths] } %>
      </div>
    </div>
  <% index += 1 %>
<% end %>
  </div>
</div>