<%= form_tag commit_filter.commit_filters_path, method: 'post', class: 'form-horizontal', id: 'commit_filter_form' do %>
  <% unless action_name == 'new' || @filter.valid? %>
     <div class="alert fade in alert-danger">
       <strong><%= I18n.t('commit_filter.filters.form.invalid') %></strong> 
       <ul>
         <% @filter.errors.each do |field, error| %>
           <li><%= field.humanize %>: <%=error %></li>
         <% end %>
       </ul>
     </div>
  <% end %>
  
  <fieldset>
    <legend>
      <%= I18n.t('commit_filter.filters.form.tabs.basic.title') %>
    </legend>
    
    <%= form_field @filter, 'workspace', size: 45 %>
    <%= form_field(
      @filter, 'repository_provider', size: 45, 
      field: select_tag(
        'filter[repository_provider]', options_for_select(['', 'GitHub', 'plan.io'], @filter.repository_provider),
        style: 'width:325px;'
      )
    ) %>
    <div id="github_fields" style="display:<%= @filter.repository_provider == 'GitHub' ? 'block' : 'none' %>">
      <%= form_field @filter, 'user_or_organization', size: 45 %>
    </div>
    <div id="plan_io_fields" style="display:<%= @filter.repository_provider == 'plan.io' ? 'block' : 'none' %>">
      <%= form_field @filter, 'repository_host', size: 45 %>
      <%= form_field @filter, 'project_slug', size: 45 %>
    </div>
    <%= form_field @filter, 'repository', size: 45 %>
    <%= form_field @filter, 'branch', size: 45 %>
    
    <div id="issue_url_field" style="display:<%= @filter.repository_provider == 'GitHub' ? 'none' : 'block' %>">
      <%= form_field @filter, 'issue_url', size: 45 %>
    </div>
    
    <% field = capture do %>
      <%= radio_button_tag 'filter[group_by_rails_file_category]', '1', @filter.group_by_rails_file_category ? true : false %> 
      <%= I18n.t('commit_filter.general.yes') %>
      <%= radio_button_tag 'filter[group_by_rails_file_category]', '0', @filter.group_by_rails_file_category ? false : true  %> 
      <%= I18n.t('commit_filter.general.no') %>
    <% end %>
    <%= form_field @filter, 'group_by_rails_file_category', size: 45, field: field %>
  </fieldset>
  <fieldset>
    <legend><%= I18n.t('commit_filter.filters.form.tabs.time_span.title') %></legend>
    
    <%= form_field @filter, 'from', size: 45, class: 'datepicker' %>
    <%= form_field @filter, 'to', size: 45, class: 'datepicker' %>
  </fieldset>
  <fieldset>
    <legend><%= I18n.t('commit_filter.filters.form.tabs.commit.title') %></legend>
    
    <%= form_field @filter, 'id', size: 45 %>
    <%= form_field @filter, 'hashtag', size: 45 %>
    <%= form_field @filter, 'message', size: 45 %>
    <%= form_field @filter, 'path', size: 45 %>
    <%= form_field @filter, 'author', size: 45 %>
    
    <% field = capture do %>
      <%= radio_button_tag 'filter[hide_merge_commits]', '1', @filter.hide_merge_commits ? true : false %> 
      <%= I18n.t('commit_filter.general.yes') %>
      <%= radio_button_tag 'filter[hide_merge_commits]', '0', @filter.hide_merge_commits ? false : true  %> 
      <%= I18n.t('commit_filter.general.no') %>
    <% end %>
    <%= form_field @filter, 'hide_merge_commits', size: 45, field: field %>
  </fieldset>
  
  <p>
  </p>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-primary"><%= I18n.t('commit_filter.filters.form.submit')%></button>
    </div>
  </div>
<% end %>